<p id="notice"><%= notice %></p>

<h1>Hulus</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Show</th>
      <th>New</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Update</th>
      <th>Destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hulus.each do |hulu| %>
      <tr>
        <td><%= hulu.index %></td>
        <td><%= hulu.show %></td>
        <td><%= hulu.new %></td>
        <td><%= hulu.create %></td>
        <td><%= hulu.edit %></td>
        <td><%= hulu.update %></td>
        <td><%= hulu.destroy %></td>
        <td><%= link_to 'Show', hulu %></td>
        <td><%= link_to 'Edit', edit_hulu_path(hulu) %></td>
        <td><%= link_to 'Destroy', hulu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hulu', new_hulu_path %>
