<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @hulu.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @hulu.show %>
</p>

<p>
  <strong>New:</strong>
  <%= @hulu.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @hulu.create %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @hulu.edit %>
</p>

<p>
  <strong>Update:</strong>
  <%= @hulu.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @hulu.destroy %>
</p>

<%= link_to 'Edit', edit_hulu_path(@hulu) %> |
<%= link_to 'Back', hulus_path %>
